.wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.aside {
  width: 50%;
}
.container {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}
.form {
  width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2rem;
}
.logo {
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: rgb(32, 32, 32);
}
.input-controls {
  display: flex;
  align-items: center;
}

.input-controls input {
  width: 100%;
  padding: 1rem;
  border: 1px solid gray;
  outline: 0;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}
.icon {
  margin-left: -3rem;
  font-size: 1.6rem;
  color: rgb(32, 32, 32);
}
.input-controls input::placeholder {
  font-size: 1.6rem;
}
.button {
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  border: 0;
  font-weight: bold;
  background-color: rgb(24, 126, 241);
  border-radius: 0.4rem;
  color: azure;
  letter-spacing: 0.35px;
  cursor: pointer;
}
.forgot p {
  font-size: 1.6rem;
  text-align: center;
}
.link {
  text-decoration: none;
  color: rgb(24, 126, 241);
}
p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: justify;
}
